In [9]:
import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like
import matplotlib.pyplot as plt
from pandas_datareader import data
import numpy as np

etf = ['DIA','SPY','QQQ','IWM','IYR','XHB','ITB','IYT','ITA','IYC','IYZ','IHE',
      'IBB','RTH','SMH','XLB','XLE','XLF','XLI','XLP','XLU','XLV','XLY']

# collect etf data from 2015-05-01 to 2019-04-28
start = '2015-05-01'
end = '2019-04-28'
ticker = data.DataReader(etf, 'iex', start=start, end=end)

ticker.info()
ticker.to_csv('industry_etf.csv',na_rep='NA')

<class 'pandas.core.frame.DataFrame'>
Index: 1004 entries, 2015-05-01 to 2019-04-26
Columns: 115 entries, (open, DIA) to (volume, XLY)
dtypes: float64(92), int64(23)
memory usage: 909.9+ KB

In [8]:
ticker.head()

Attributes      open                                                   \
Symbols          DIA       IBB       IHE       ITA      ITB       IWM
date
2015-05-01  163.1623  112.1416  159.5720  116.0162  25.4884  114.6117
2015-05-04  164.1911  114.1163  161.8010  116.2851  25.9207  115.1871
2015-05-05  164.0909  113.9607  162.4527  116.4195  25.7635  115.3946
2015-05-06  163.7631  113.1596  160.9226  115.5745  25.6161  114.2251
2015-05-07  162.1699  113.5899  159.2414  115.1232  25.5571  114.2533

Attributes                                        ...     volume           \
Symbols          IYC      IYR       IYT      IYZ  ...        SPY      XHB
date                                              ...
2015-05-01  137.3856  64.0702  146.8248  27.9606  ...  103399711  6020645
2015-05-04  139.4599  64.7752  149.2922  27.9878  ...   70927235  3616168
2015-05-05  139.1238  64.4694  148.9861  27.8426  ...  113326156  4608939
2015-05-06  137.7025  63.2378  147.4656  27.5251  ...  135060151  3936545
2015-05-07  136.5693  63.2888  147.5612  27.1259  ...   88244940  3652501

Attributes                                                            \
Symbols         XLB       XLE       XLF       XLI      XLP       XLU
date
2015-05-01  6749902  11354599  18331079  11017898  5158317  12507400
2015-05-04  4150209  14434247  22232282   6096265  6710241  13323122
2015-05-05  3761331  16076343  30639814  10026905  6537353  18621205
2015-05-06  5015558  16388582  29753265   8247719  6233272  16976140
2015-05-07  6230445  17396581  31917845  10668317  6433797  12687008

Attributes
Symbols          XLV      XLY
date
2015-05-01  11508332  6110220
2015-05-04   8561748  3920894
2015-05-05  11373760  7856800
2015-05-06  10152164  8298192
2015-05-07   9019729  5892410

[5 rows x 115 columns]